@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply py2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .d1 {
    @apply text-[90px] tracking-tight leading-none;
  }

  .d2 {
    @apply text-[70px] tracking-tight leading-none;
  }

  .d3 {
    @apply text-[44px] tracking-normal leading-none;
  }

  .b1 {
    @apply text-lg font-medium leading-normal;
  }

  .b2 {
    @apply text-base font-medium leading-normal;
  }

  .b3 {
    @apply text-[14px] tracking-[-0.56px];
  }

  .h1 {
    @apply text-h1 leading-none tracking-light;
  }

  .h2 {
    @apply text-2xl md:text-4xl font-normal tracking-normal;
  }
  .h2_bold {
    @apply text-2xl md:text-4xl font-bold tracking-normal;
  }

  .h3 {
    @apply text-2xl font-normal tracking-wide leading-none;
  }

  .h4_medium {
    @apply text-[22px] tracking-normal leading-none font-medium;
  }

  .h4 {
    @apply text-[16px] md:text-[22px] tracking-wider md:tracking-normal leading-none;
  }

  .l1 {
    @apply text-[12px] tracking-[-0.48px];
  }

  .l2 {
    @apply text-[10px];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar-track {
  background-color: #252525c2;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
  width: 7px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

:root {
  --orange-gradient-background: linear-gradient(
    90deg,
    rgba(252, 75, 29, 0.2) 0%,
    #fc4b1d 50%,
    rgba(252, 75, 29, 0.2) 100%
  );
  --black-gradient-background: linear-gradient(
    90deg,
    #131313ec 0%,
    #111111 50%,
    #131313ec 100%
  );
  --grey-gradient-background: linear-gradient(
    90deg,
    #c5c5c54b 0%,
    rgba(27, 27, 27, 0.2) 50%,
    #c5c5c579 100%
  );
  --white-gradient-background: radial-gradient(
    circle,
    #818181ad 0%,
    #ffffff 50%,
    #81818198 100%
  );
  --white-oragnge-gradient: linear-gradient(
    90deg,
    #ff3908 0%,
    #333333 50%,
    #ffffff 100%
  );
  --bicolor-gradient: linear-gradient(
    90deg,
    rgba(255, 134, 74, 0.2) 0%,
    rgba(255, 134, 74, 0.8) 50%,
    rgba(61, 150, 244, 0.8) 50.01%,
    rgba(61, 150, 244, 0.2) 100%
  );
}

::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-radius: 10px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.iso {
  animation: rotate-iso 5s linear infinite;
}

@keyframes rotate-iso {
  0% {
    /* rotate: 360deg; */
    transform: rotateY(360deg);
  }
}

.animated-gradient-text {
  background: var(--orange-gradient-background);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s linear infinite;
  color: transparent;
}

.animated-gradient-text-generic {
  background-size: 500%;
  background-clip: text;
  animation: gradientAnimation 15s linear infinite;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-grey-white {
  background: var(--white-gradient-background);
}

.gradient-black {
  background: var(--black-gradient-background);
}

.contact-button-orange {
  background: var(--white-oragnge-gradient);
  background-size: 300%;
  background-position: 100%;
  background-clip: text;
  color: transparent;
  transition: all 0.5s;
}

.contact-button-dark {
  background: var(--black-gradient-background);
  background-size: 300%;
  background-position: -100%;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.bd-blur {
  --webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.bd-blur-md-opticore {
  --webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.navbar-blur-opticore {
  @media (min-width: 768px) {
    --webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
.bd-blur-opticore {
  @media (max-width: 768px) {
    --webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

@media (min-width: 768px) {
  .bd-blur-md {
    --webkit-backdrop-filter: blur(15x);
    backdrop-filter: blur(15x);
  }
}

.contact-button-orange:hover,
.contact-button-dark:hover {
  background-position: 0;
}

.contact-button-orange:hover::after,
.contact-button-dark:hover::after {
  transform: translateX(0%);
}

.contact-button-orange::after,
.contact-button-dark::after {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 0;
  content: "";
  background: var(--white-oragnge-gradient);
  width: 400%;
  height: 2px;
  transition: all 0.2s;
}

.slideContent {
  display: flex;
  gap: 12rem;
  animation: slide 70s linear infinite;
}

@keyframes slide {
  to {
    transform: translateX(-50%);
    transform: translate3d(-50%, 0, 0);
  }
}

.slide-orange-background {
  background: var(--orange-gradient-background);
}

.slide-black-background {
  background: var(--black-gradient-background);
}

.slide-grey-background {
  background: var(--grey-gradient-background);
  --webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  }

  50% {
    transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1);
  }
}

.floatingMacbook {
  animation: floatAnimation 3s ease-in-out infinite;
  transform-style: preserve-3d;
  will-change: transform;
}

#profile-line {
  stroke-dasharray: 2097;
  stroke-dashoffset: 2097;
  animation: line-animation 4s ease forwards;
}

@keyframes maskAnimation {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translatey(0);
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@media (min-width: 1025px) {
  .header-figure {
    animation: scrolling 15s linear;
    animation-timeline: scroll();
    transform: translateY(0%);
    animation-range: exit 0% exit 60%;
  }
}

@keyframes scrolling {
  to {
    transform: translateY(1000%) translateX(-100%);
    scale: 1.5;
  }
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffb23f;
  }

  to {
    text-shadow: 0 0 3px #fd0000;
  }
}

.branding-title > * {
  background-size: 400% 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
}
